@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;}

* {
    box-sizing: border-box;
}



html, body {
    margin: 0;
}

:root {
    --dark-purple: #190B28;
    --pinky: #E55381;
    --less-pink: #EA7E98;
    --pastel-pink: #EFA9AE;
    --medium-purple: #26103C;
    --nav-height: 65px;
    --card: #4A4353;
}

body {
    background-color: var(--dark-purple);
}

h1 {
    font-size: 44px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

p {
    color: white;
}

.title-pastel-pink {
    color: var(--pastel-pink);
}

.title-pinky {
    color: var(--pinky);
}

button {
    font-size: 18px;
    padding: 8px 35px;
    border: 0;
    border-radius: 16px;;
    background-color: var(--pinky);
    color: white;
    font-weight: 800;
}

.secondary-button {
    background-color: var(--medium-purple);
    border: 1px solid var(--pastel-pink);
    color: var(--pinky);
    font-weight: bold;
    height: 80px;
    display: flex;
    align-items: center;
}

.secondary-button img {
    margin-right: 15px;
}

header{
    height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
    
}

header .container h2 {
    color: white;
}

header .container p {
    color: lightgrey;
}

header .container button {
    margin-top: 40px;
}

nav {
    height: 65px;
    display: flex;
    align-items: center;  
    font-size: 23px;
    padding: 0 100px;
    justify-content: space-between; 
    position: sticky;
    top: 0; 
    z-index: 99;
    background-color: var(--dark-purple);  
}

nav svg {
    display: none;
}

nav ul {
    /*background-color: aliceblue;*/
    width: 100%;    
    display: flex;
    justify-content: space-around;
}

nav ul a {
    color: var(--pastel-pink);
    text-decoration: none;
    font-size: 24px;
}

nav .logo {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    width: 150px;  
    height: 45px;
    

    

}
nav .logo .linha {
    display: flex;
    height: 45px;
    width: 6px;
    background-color: var(--pinky);   

   }

nav .logo .giovana-barbosa {
    color: white;
    font-size: 23px;
    line-height: 23px;
    margin-left: 3px;
    font-weight: 300;
    
}



header .container .tab {
    display: none;
}



header .container .tab .logo {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    width: 150px;  
    height: 45px;
    

    

}
header .container .tab .logo .linha {
    display: flex;
    height: 45px;
    width: 6px;
    background-color: var(--pinky);   

   }

header .container .tab .logo .giovana-barbosa {
    color: white;
    font-size: 23px;
    line-height: 23px;
    margin-left: 3px;
    font-weight: 300;
    
}





.about-me {
    padding: 100px ;
    display: flex;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .container h1{
    color: var(--pastel-pink);
}

.about-me .container p{
    color: white;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.about-me .img-container .line {
    width: calc(60% + 50px);
    height: calc(100% + 50px);
    left: calc(50% - 60%/2 - 25px);
    top: -25px;
    border: 1px solid var(--pinky);
    position: absolute;
}

.about-me .img-container .line.pastel-pink {
    border: 1px solid var(--pastel-pink);
    transform: rotate(-3.3deg);
}

.services {
    text-align: center;
    margin: 180px 0;
    padding: 0 100px;
}

.services .services-container, .portfolio .portfolio-container {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0;
    
    max-width: 1400px;
}

.services .services-container .card-services {
    background-color: var(--card);
    border: 1px solid var(--pinky);
    border-radius: 16px;
    padding: 40px;
    max-width: 360px;
    min-width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.services .services-container .card-services svg {
    color: var(--pastel-pink);
    height: 90px;
    width: 90px;
    background-color: var(--dark-purple);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-services + .card-services {
    margin-left: 10px;
}

.services .services-container .card-services h2 {
    font-weight: 400;
}

.portfolio {
    padding: 0 100px;
    text-align: center;
    background-image: url('/backbackk.jpg');
    margin-bottom: 100px;
    height: 800px;
    

}


.portfolio .portfolio-container {
    margin-top: 130px;
}

.portfolio .portfolio-container .portfolio-card {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(25, 11, 40, 1) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 24px -1px rgba(25, 11, 40, 1);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
    max-width: 360px;
    border: 1px solid white;
    text-align: left;
    padding: 50px 25px;
}



.portfolio .portfolio-container .portfolio-card .img-container {
    margin: 0 25px 50px;
    position: relative;
    
}

.portfolio .portfolio-container .portfolio-card .img-container img {
    width: 100%;
    border-radius: 16px;
}

.portfolio .portfolio-container .portfolio-card .img-container .line {

        width: calc(100% + 24px);
        height: calc(100% + 24px);
        left: calc(50% - 100%/2 - 12px);
        top: -12px;
        border: 1px solid var(--pinky);
        border-radius: 16px;
        position: absolute;

        transform: rotate(-1.93deg);
 
}

.portfolio .portfolio-container .portfolio-card .language-container {
    margin-bottom: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul{
    display: flex;

    list-style: none;
    padding: 0;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
    color: var(--pinky);
    border: 1px solid var(--pinky);
    border-radius: 16px;
    padding: 3px 15px;
}

.portfolio .portfolio-container .portfolio-card p {
    margin: 0;
}

.portfolio-card + .portfolio-card {
    margin-left: 10px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li + li {
    margin-left: 10px;
}

.curriculum{
    padding: 0 100px;
    text-align: center;
    
}

.curriculum .container {
    display: flex;
    margin: 50px auto;
    max-width: 1200px;
}

.curriculum .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.curriculum .container .content .curriculum-info{
    display: grid;
    grid-template-columns: 150px auto;
    text-align: left;
    gap: 1rem;
    color: white;
    margin-bottom: 50px;
}

/*Responsividade*/

/*small-desktop*/
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }

    nav {
        padding: 0 35px;
    }

    nav ul a{
        font-size: 16px;
    }
    nav ul {
        padding: 0;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me .img-container, .about-me .container {
        width: 100%;    
    }

    .about-me .container {
        padding-right: 0;     
    }

    .about-me .img-container {
        margin: 75px 0;        
    }

    .services, .portfolio {
        padding: 0;
    }

    .services .services-container, .portfolio .portfolio-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .services .services-container .card-services {
        height: 394px;
    }

    .card-services + .card-services, .portfolio-card + .portfolio-card {
        margin-left: 0;
        margin-top: 20px;

    }

    .portfolio {
        height: 100%;
    }

    .curriculum .container {
        flex-wrap: wrap;
    }

    .curriculum .container .curriculum-img {
        display: block;
        margin: 0 auto 50px;
        width: 100%;
        max-width: 520px;
    }

}

/*tablet*/
@media (max-width: 767px) {
    header .container {
        width: 100%;
    }
    nav .logo {
        display: none;
    }

    nav {
        padding: 0 35px;
    }
    
    nav ul {
        padding: 0;
    }

    nav a{
        font-size: 16px;
    }

    header .container .tab {
        display: inline;
    }
    header .container .tab .logo {
        margin-bottom: 70px;
    }

    .curriculum .container .content .curriculum-info {
        grid-template-columns: 100px auto;
        line-break: anywhere;
    }
}

/*smartphone*/
@media (max-width: 480px) {
    body {
        margin-bottom: calc(var(--nav-height) + 50px);
    }
    header .container {
        padding: 0 40px;
    }    

    nav svg {
        display: block;
        margin: 0 auto 10px;
    }

    nav {
        padding: 0 15px;
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
        
    }

    nav ul a{
        font-size: 12px;
    }

    .about-me {
        padding: 40px;
    }
    .services {
        margin: 70px 0;
    }

    .services .services-container, .portfolio .portfolio-container{
        padding: 0 20px;
    }

    .services .services-container .card-services {
        max-width: 320px;
        padding: 40px 20px;
    }

    .services .services-container .card-services svg {
        min-width: 90px;
        min-height: 90px;
}

    .portfolio {
        margin: 100px 0 50px;   
    }

    .portfolio .portfolio-container {
        margin-top: 70px;
    }

    .curriculum {
        padding: 0 20px;
    }

    .curriculum .container .content .curriculum-info {
        padding: 0 15px;
        grid-template-columns: 100px auto;
    }


}    